.container{
 width: calc(100vw - 200px);
 margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .container{
    width: calc(100vw - 100px);
    margin: 0 auto;
   }
}
@media only screen and (max-width: 768px) {
  .container{
    width: 100%;
    padding: 0 20px;
   }
}
@media only screen and (max-width: 600px) {
  .container{
   padding: 0 10px;
   }
}