*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Base Typography */
.dark{
  --card-bg:rgba(255, 255, 255, 0.15);
  --text-color:#fff;
  --bg:black;
  --border:1px solid rgba(255, 255, 255, 0.2);
}
.light{
  --card-color:#fff;
  --text-color:black;
  --bg:#fff;
  --border:1px solid lightGray;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
}

/* Headings */
h1, h2, h3 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

/* Paragraphs */
p {
  font-size: 1em;
  line-height: 1.4;
}

/* Links */
a {
  font-family: "Montserrat", sans-serif;
  color: inherit;
  text-decoration: none;
}
a:hover{
  color: rgb(18, 125, 247);
}
button{
  font-family: "Montserrat", sans-serif;
}
